/* .dropdown-toggle::after {
    display: none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: transparent;
}

/* .nav-link{
  color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: white;
}
.nav-link:hover{
  color: white;
} */ 

/* .animate{
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: fade;
} */